.c-product {
  display: flex;
  justify-content: center;

  .c-container {
    @include container($direction: column);
  }

  &__video {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    video {
      width: 90vw;
      margin: 1rem;
    }
  }

  &__video:target {
    padding-top: 4rem;
  }

  &__description {
    margin: 0 1rem 1rem 1rem;

    &-text {
      font-family: var(--font-emphasis);
    }
  }
}

@media screen and (min-width: 26rem) {
  .c-product {
    &__video {
      video {
        max-width: 30rem;
      }
    }

    &__video:target {
      padding-top: 5rem;
    }
  }
}

@media screen and (min-width: 48rem) {
  .c-product {
    .c-container {
      @include container($width: 80rem);
    }

    &__video {
      align-items: flex-start;
      display: flex;
      margin: 3rem 0 0 0;

      video {
        margin-top: 0;
        width: 30rem;
      }
    }

    &__description {
      margin: 2rem 1rem 1rem 1rem;
    }
  }
}

@media screen and (min-width: 64rem) {
  .c-product {
    &__video:target {
      padding-top: 7rem;
    }
  }
}
