@font-face {
  font-family: 'Muli-Bold';
  src: url('./font/Muli-Bold.eot');
  src: url('./font/Muli-Bold.woff2') format('woff2'),
       url('./font/Muli-Bold.woff') format('woff'),
       url('./font/Muli-Bold.ttf') format('truetype'),
       url('./font/Muli-Bold.svg#Muli-Bold') format('svg'),
       url('./font/Muli-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-BoldItalic';
  src: url('./font/Muli-BoldItalic.eot');
  src: url('./font/Muli-BoldItalic.woff2') format('woff2'),
       url('./font/Muli-BoldItalic.woff') format('woff'),
       url('./font/Muli-BoldItalic.ttf') format('truetype'),
       url('./font/Muli-BoldItalic.svg#Muli-BoldItalic') format('svg'),
       url('./font/Muli-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-ExtraLight';
  src: url('./font/Muli-ExtraLight.eot');
  src: url('./font/Muli-ExtraLight.woff2') format('woff2'),
       url('./font/Muli-ExtraLight.woff') format('woff'),
       url('./font/Muli-ExtraLight.ttf') format('truetype'),
       url('./font/Muli-ExtraLight.svg#Muli-ExtraLight') format('svg'),
       url('./font/Muli-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-ExtraLightItalic';
  src: url('./font/Muli-ExtraLightItalic.eot');
  src: url('./font/Muli-ExtraLightItalic.woff2') format('woff2'),
       url('./font/Muli-ExtraLightItalic.woff') format('woff'),
       url('./font/Muli-ExtraLightItalic.ttf') format('truetype'),
       url('./font/Muli-ExtraLightItalic.svg#Muli-ExtraLightItalic') format('svg'),
       url('./font/Muli-ExtraLightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Italic';
  src: url('./font/Muli-Italic.eot');
  src: url('./font/Muli-Italic.woff2') format('woff2'),
       url('./font/Muli-Italic.woff') format('woff'),
       url('./font/Muli-Italic.ttf') format('truetype'),
       url('./font/Muli-Italic.svg#Muli-Italic') format('svg'),
       url('./font/Muli-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Light';
  src: url('./font/Muli-Light.eot');
  src: url('./font/Muli-Light.woff2') format('woff2'),
       url('./font/Muli-Light.woff') format('woff'),
       url('./font/Muli-Light.ttf') format('truetype'),
       url('./font/Muli-Light.svg#Muli-Light') format('svg'),
       url('./font/Muli-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-LightItalic';
  src: url('./font/Muli-LightItalic.eot');
  src: url('./font/Muli-LightItalic.woff2') format('woff2'),
       url('./font/Muli-LightItalic.woff') format('woff'),
       url('./font/Muli-LightItalic.ttf') format('truetype'),
       url('./font/Muli-LightItalic.svg#Muli-LightItalic') format('svg'),
       url('./font/Muli-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Semi-BoldItalic';
  src: url('./font/Muli-Semi-BoldItalic.eot');
  src: url('./font/Muli-Semi-BoldItalic.woff2') format('woff2'),
       url('./font/Muli-Semi-BoldItalic.woff') format('woff'),
       url('./font/Muli-Semi-BoldItalic.ttf') format('truetype'),
       url('./font/Muli-Semi-BoldItalic.svg#Muli-Semi-BoldItalic') format('svg'),
       url('./font/Muli-Semi-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-SemiBold';
  src: url('./font/Muli-SemiBold.eot');
  src: url('./font/Muli-SemiBold.woff2') format('woff2'),
       url('./font/Muli-SemiBold.woff') format('woff'),
       url('./font/Muli-SemiBold.ttf') format('truetype'),
       url('./font/Muli-SemiBold.svg#Muli-SemiBold') format('svg'),
       url('./font/Muli-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('./font/Muli.eot');
  src: url('./font/Muli.woff2') format('woff2'),
       url('./font/Muli.woff') format('woff'),
       url('./font/Muli.ttf') format('truetype'),
       url('./font/Muli.svg#Muli') format('svg'),
       url('./font/Muli.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
