:root {
  --color-green-vogue: #01284f;
  --color-cerulian: #00ace5;
  --color-orient: #005a81;
  --color-iron: #d8d8d8;
  --color-magnesium: #b3b3b3;
  --color-scarapa-flow: #6b6b6b;
  --color-concrete: #f3f3f3;
  --color-white: #ffffff;
  --color-sandstorm: #E7E247;

  --font-headline: 'Muli-SemiBold';
  --font-default: 'Muli-ExtraLight';
  --font-emphasis: 'Muli';

  // layouts
  // 320px = 20rem
  // 416 = 26rem
  // 768px = 48rem
  // 1024px = 64rem
}
