body {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    background-color: rgb(28,52,80);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1,h2,h3 {
    font-size: 180%;
    line-height: 130%;
    margin: 10px 0px;
    font-family: Lato, 'Open Sans', sans-serif;
}
h2 {
    border-bottom: 4px solid rgba(255,255,255,0.2);
}

h3 {
    font-size: 140%;
}

small {
    display: block;
    font-size: 80%;
}

ul {
    text-align: left;
}

q, label {
    display: block;
}
q {
    font-size: 150%;
    line-height: 140%;
    quotes: "“" "”" "‘" "’";
    font-style: italic;
    margin: 15px 0px;
    font-family: 'Josefin Sans';
    text-align: left;
}

q::before,q::after {
    position: relative;
    font-size: 250%;
    line-height: 0px;
    font-family: sans-serif;
    font-weight: bold;
    left: -5px;
}
q::after {
    content: close-quote;
    top:20px;
}
q::before {
    content: open-quote;
    top: 15px;
}

p {
    margin: 0px;
    margin-bottom: 10px;
    text-align: justify;
}

p > strong {
    font-style: italic;
}

summary {
    outline: none;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

@media only screen and (max-width: 375px) {
    p {
        text-align: left;
    }
    q {
        text-align: center;
    }
    footer {
        justify-content: center;
    }
}

a {
    color: white;
    text-decoration: underline;
}

section {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}


article {
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    min-height: 350px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
}

article:last-of-type {
    margin-bottom: 0px;
}

article > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 40px;
    background: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.7) 70%,rgba(0,0,0,0) 100%);
    text-align: left;
    margin-right: 20%;
}

@media only screen and (max-width: 580px) {
    article > div {
        margin-right: 0px;
        padding: 30px;
    }
}




[data-block="header"] {
    background-image: url(../images/stock/world.jpg);
    background-position: 0px 50%;
    min-height: 500px;
}

@media only screen and (max-width: 700px) {
    [data-block="header"] {
        min-height: 380px;
    }
}

@media only screen and (max-width: 375px) {
    [data-block="header"] {
        min-height: 670px;
    }
}




[data-block="header"] > div {
    background-image: linear-gradient(to right, rgba(1, 1, 1, 1), rgba(1, 1, 1, 0));
}

[data-block="header"] > div > img {
    width: 100px
}

[data-block="profile"] {
    min-height: 0px;
}

[data-block="profile"] > div {
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: none;
}

[data-block="quote"] {
    max-width: 75%;
}

[data-block="quote"] > div {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    border-radius: 100px;
    border: 2px solid white;
    float: left;
    margin: 0px 20px 20px 0px;
}

@media only screen and (max-width: 580px) {
    [data-block="quote"] {
        max-width: none;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    [data-block="quote"] > div {
        margin: 0px;
    }
}



[data-block="content-list"] > div {
    flex-basis: auto;
    text-align: center !important;
    align-items: center;
    margin-right: 0px;
    background: rgba(1,1,1,0.5);
}

[data-block="content-list"] ul {
    list-style: none;
    padding: 0px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 580px) {
    [data-block="content-list"] ul {
        flex-direction: column;
    }
}

[data-block="content-list"] li:before {
    content: '';
    margin: auto;
    background-size: cover;
}

[data-block="content-list"][align="centre"] li {
    flex: 1;
    min-width: 250px;
    max-width: 250px;
    margin: 20px;
    text-align: left;
    padding-left: 40px;
}
[data-block="content-list"][align="centre"] li:before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    margin-left: -40px;
}
[data-block="content-list"] h2 {
    border: none;
}
[data-block="content-list"] h3 {
    font-size: 100%;
    font-weight: 600;
    margin: 0px;
}
[data-block="content-list"] p {
    font-size: 90%
}

[data-block="content-list"][align="top"] li {
    flex: 1;
    min-width: 200px;
    max-width: 200px;
    margin: 20px;
    text-align: center;
    flex: 1 0 auto;
}
[data-block="content-list"][align="top"] li:before {
    display: block;
    width: 50px;
    height: 50px;
}
[data-block="content-list"] a {
    font-size: 90%;
    font-weight: bold;
}

[data-block="content-list"] li[data-icon]:before {
    background-image: url("../images/data-protection.png");
}




#cite1 [data-block="quote"] > div {
    background-image: url(../images/wun-rizwi.jpg);
}

#cite2 [data-block="quote"] > div {
    background-image: url(../images/torsten-braner.jpg);
    background-position: center;
    background-size: 179%;
}

#cite3 [data-block="quote"] > div {
    background-image: url(../images/przemyslaw-walasek.jpg);
    background-position: center;
    background-size: 179%;
}



[data-block="content"] {
    position: relative;
}

[data-block="header"]::after,
[data-block="content"]::before,
[data-block="content"]::after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left:0px;
    right:0px;

}

[data-block="header"]::after,
[data-block="content"]::after {
    background-color: rgba(187, 188, 241, 0.1);
}

[data-block="content"]::before {
    opacity: 0.4;
    z-index: -1;
}

#intro {
    min-height: 250px;
}

#intro::before {
    background-image: url(../images/stock/vault.jpg);
    background-position: 0px 40%;
}

#changes::before {
    background-image: url(../images/stock/clock.jpg);
    background-position: right 40%;
}

#who::before {
    background-image: url(../images/stock/lock.jpg);
    background-position: right 20%;
}

#driving::before {
    background-image: url(../images/stock/driving.jpg);
}

#global::before {
    background-image: url(../images/stock/driving.jpg);
    background-position: 0% 56%;
}

#access::before {
    background-image: url(../images/stock/access.jpg);
    background-position: left 76%;
}

#design::before {
    background-image: url(../images/stock/design.jpg);
    background-position: left 47%;
}

#hacker::before {
    background-image: url(../images/stock/hacker.jpg);
    background-position: left 6%;
}

#eudata::before {
    background-image: url(../images/stock/eudata.jpg);
    background-position: right 20%;
}

#magic::before {
    background-image: url(../images/stock/magic.jpg);
}

#copyright::before {
    background-image: url(../images/stock/copyright.jpg);
    background-position: right 40%;
}

#control::before {
    background-image: url(../images/stock/control.jpg);
    background-position: left 10%;
}

#manage::before {
    background-image: url(../images/stock/manage.jpg);
}

#vault::before {
    background-image: url(../images/stock/vault.jpg);
    background-position: 0% 70%;
}
#knowledge::before {
    background-image: url(../images/stock/knowledge.jpg);
    background-position: 0% 42%;
    min-height: 280px;
}

#knowledge {
    min-height: 200px;
}

#registerinterest {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

input[type="email"] {
    font-size: 100%;
    height: 28px;
    border: 0px;
    padding-left: 8px;
    border-radius: 2px;
    box-sizing: border-box;
    outline: 0px;
    width: 300px;
    margin: 10px;
}

input[type="submit"] {
    font-size: 110%;
    height: 33px;
    width: 100px;
    background-color: #105979;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin: 10px;
}
