a[href=""] {
    text-decoration: none;
    color: inherit;
}

a {
    color: black;
}

body {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;

    margin: 0px;
    background-color: #000a32;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1,h2,h3 {
    font-weight: 400;
    font-size: 180%;
    line-height: 130%;
    margin: 10px 0px;
    font-family: Lato, 'Open Sans', sans-serif;
}
h2 {
    border-bottom: 4px solid rgba(255,255,255,0.2);
}

small {
    display: block;
}

section {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

section > article:first-of-type {
    background-color: transparent !important;
}

article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: 300px;
    min-height: 400px;
    overflow: hidden;
    margin-top: -10%;
    margin-bottom: 4%;
    padding: 20px 20px;
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
}

section > article:nth-of-type(even) {
    background-color: #5e8bcc;
    transform: skewY(-3deg);
}

section > article:nth-of-type(odd) {
    flex-direction: row-reverse;
    background-color: #4a70ae;
    transform: skewY(3deg);
    text-align: left;
}


article > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* flex-basis: 50%; iOS Safari bug */
    flex-basis: 190px;
    box-sizing: border-box;
    padding: 0px 10px;
}

@media only screen and (max-width: 580px) {
    article > div {
        text-align: justify !important;
    }
}

article > div:first-of-type {
    flex: 6;
}

section > article:nth-of-type(even) > div {
    transform: skewY(3deg);
}

section > article:nth-of-type(even) > div:first-of-type {
    text-align: right;
}

section > article:nth-of-type(odd) > div {
    transform: skewY(-3deg);
}

section > article:nth-of-type(odd) > div:first-of-type {
    text-align: left;
}

section > article:nth-of-type(odd) > div:last-of-type,
section > article:nth-of-type(even) > div:last-of-type {
    min-width: 260px;
}

article > div:last-child {
    display: none;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}


[data-block="header"] {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.5), rgba(46, 49, 65, 0.6));
    align-items: center;
    height: 700px;
}

[data-block="header"] > div:first-of-type {
    flex-direction: column;
    margin: 0px 10%;
    text-align: left !important;
}

[data-block="header"] > div > img {
    width: 100px;
}

[data-block="header"] > div > h1 {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 250%;
}

[data-block="content"] li {
    list-style: none;
}

@media only screen and (min-width: 768px) {
    [data-block="content"], [data-block="quote"] {
        padding: 150px 150px;
    }
}

[data-block="content"] > div:last-child {
    display: flex;
    min-height: 320px;
    background-image: url('../images/data-protection.png');
}


[data-block="image"] {
    font-size: 150%;
}

[data-block="image"] > div:last-child {
    background-size: cover;
    background-position: top;
}


[data-block="quote"] {
    min-height: 300px;
    align-items: center;
    align-content: center;
    background-color: #bdc8da !important;
    color: #0e2a5a;
    /*box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.6);*/
}


[data-block="quote"] > div {
    align-items: center;
    margin-top: -8%;
}

[data-block="quote"] > div:last-child {
    display: flex;
}

@media only screen and (max-width: 580px) {
    [data-block="quote"] {
        min-height: 400px;
    }
    [data-block="quote"] > div {
        margin-top: -0%;
    }
}

[data-block="quote"] > div > img {
    border-radius: 100px;
    border: 1px solid rgba(255,255,255,0.5);
    width: 200px;
    height: 200px;
}

q, label {
    display: block;
}
q {
    font-size: 150%;
    line-height: 140%;
    quotes: "“" "”" "‘" "’";
    font-style: italic;
    margin-bottom: 15px;
    font-family: 'Josefin Sans';
}

@media only screen and (min-width: 580px) {
    q {
        padding: 0 50px;
    }
}

q::before,q::after {
    position: relative;
    font-size: 250%;
    line-height: 0px;
    color: #0e2a5a;
    font-family: sans-serif;
    font-weight: bold;
    left: -5px;
}
q::after {
    content: close-quote;
    top:20px;
}
q::before {
    content: open-quote;
    top: 15px;
}

p {
    margin: 0px;
    margin-bottom: 10px;
}

p > strong {
    font-style: italic;
}


[data-block="content-list"] > div {
    flex-basis: auto;
    text-align: center !important;
    align-items: center;
}

[data-block="content-list"] ul {
    list-style: none;
    padding: 0px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 580px) {
    [data-block="content-list"] ul {
        flex-direction: column;
    }
}

[data-block="content-list"] li:before {
    content: '';
    margin: auto;
    background-size: cover;
}

[data-block="content-list"][align="centre"] li {
    flex: 1;
    min-width: 250px;
    max-width: 250px;
    margin: 20px;
    text-align: left;
    padding-left: 40px;
}
[data-block="content-list"][align="centre"] li:before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    margin-left: -40px;
}
[data-block="content-list"] h2 {
    border: none;
}
[data-block="content-list"] h3 {
    font-size: 100%;
    font-weight: 600;
    margin: 0px;
}
[data-block="content-list"] p {
    font-size: 90%
}

[data-block="content-list"][align="top"] li {
    flex: 1;
    min-width: 200px;
    max-width: 200px;
    margin: 20px;
}
[data-block="content-list"][align="top"] li:before {
    display: block;
    width: 50px;
    height: 50px;
}
[data-block="content-list"] a {
    font-size: 90%;
    font-weight: bold;
}

[data-block="content-list"] li[data-icon]:before {
    background-image: url("../images/data-protection.png");
}
